{% extends 'growelsapp/app3.html' %}


{%block content %}{% load static %}

<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.png' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>GROWELS FEEDS</a></div>
            </div> 
        </nav>
        
                
       <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Blog Tags</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                    </div>
                </div>
                    <!-- /.col-lg-12 -->
               
                <!-- /row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            
                            <a href="category"  class="nav navbar-top-links navbar-right pull-right btn btn-primary">+</a><br> 
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>category Name</th>    
                                            <th>Slug</th>  
                                            <th>Meta Title</th>
                                            <th>Meta Keyword</th>
                                            <th>Meta Description</th>
                                            <th>Status</th>
                                            <th>Actions</th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in user %}  
                                            <tr> 
        
                                                <td>{{ user.Name }}</td>
                                                <td>{{ user.slug }}</td>
                                                <td>{{ user.meta_title }}</td>
                                                <td>{{ user.meta_keyword }}</td>
                                                <td>{{ user.meta_description }}</td>
                                                <td>Active</td>
               
                                                <td>  
                                                    <a href="/categoryedit/{{ user.id }}"><span class="glyphicon glyphicon-pencil" ></span></a>  
                                                    <a href="/categorydelete/{{ user.id }}"><span class="glyphicon glyphicon-trash" ></span></a>  
                                                </td>  
                                            </tr>  
                                        {% endfor %} 
                                       
                                    </tbody>
                                </table>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
  
{%endblock %}
