{% include 'growel-feeds/header.html' %}
{% include "growel-feeds/menu-bar.html" %}
{% load static %} 


 <div class="cust-cont">
        <div class="blog-heading">          
            <h2> {{p.title}} </h2>
            <p> {{p.description|safe}}</p>
        </div>
       

        <div class="row">
            
            <div class="col-md-8">
                <div class="row"> 
                {% for blog_list in blog_list %}                
                    <div class="col-sm-6">
                        <div class="blog-half">
                      
                            <div class="blog-img">
                                 
                                <a href="blog"><img src={{ MEDIA_URL }}{{ blog_list.image_file }} class="img-fluid" alt=""></a>
                            </div>
                        </div>
                        <div class="blog-heading">
                           
                            <h3> {{blog_list.title}} </h3>
                            <h5> Posted on {{blog_list.updated_at}} </h5>
                        </div>
                        <div class="about-txt">
                            <p> {{blog_list.description|safe|slice:"200" }} </p>
                        </div>
                        <div class="view-read">
                            <a href="/blog/{{blog_list.slug}}"><button class="btn view-btn"> Read more</button></a>
                        </div>
                    </div>
                     {%endfor%}
                </div>
            </div>

          

             <div class="col-md-4 col-sm-12">
                <div class="contact-form1">
                    <h3> Get in touch with us </h3>
                    <form action="" id="" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" required="" placeholder="First Name" name="first_name">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" required="" placeholder="Last Name" name="last_name">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" required="" placeholder="Mobile Number" name="mobile_number">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" required="" placeholder="Email" name="email">
                        </div>

                        <div class="col-md-12 form-group">
                            <textarea class="form-control" name="message" required="" placeholder="Your Message"></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <button id="btn_submit" name="submit" class="submit"> submit </button>
                        </div>
                         </div>
                    </form>

                </div>




                <!--
                <div class="about-me">
                    <h2> About me </h2>
                    <img src="assets/images/aboutme.jpg" class="img-responsive" alt="about-img">
                </div>
                <div class="about-txt">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                </div>
-->

                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="about-me">
                            <h2> Popular Post</h2>
                        </div>
                        
                        <div class="blog-recent">
                            {% for e in e|slice:"3" %}
                            <ul class="list-unstyled recent-list">
                                <li>
                                    <a href="/blog/{{e.slug}}">
                                    <span class="alignleft">
                                        <img src={{ MEDIA_URL }}{{ e.image_file }} class="img-fluid" alt="">
                                    </span>
                                    <h5>{{e.title}} </h5>
                                    <small>{{e.updated_at}}</small>
                                </a>
                                </li>
                            </ul>
                            {%endfor%}
                        </div>
                    </div>
                    
                     <div class="col-md-12 col-sm-6">
                        
                        <div class="about-me">
                            <h2> Categories </h2>
                        </div>
                        {% for categorynames in categorynames %}
                        
                        <div class="cat-list-item">
                            <ul>
                                <li class="cat-item"><a href="/category/{{categorynames.slug}}" value="{{categorynames.id}}"> {{categorynames.Name}} </a></li>
                            </ul>
                          
                        </div>
                        {%endfor%}
                    </div>
                    
                    <div class="col-md-12 col-sm-12">

                        <div class="about-me">
                            <h2> Tag</h2>
                        </div>
                        
                        <div class="tagclouds">
                            {% for tag in tag %}
                            <a href="/blogtags/{{tag.slug}}"> {{tag.Name}}</a>
                           {%endfor%}
                        </div>
                         
                    </div>
                </div>
            </div>

        </div>
    </div>
 
{% include 'growel-feeds/footer.html' %}
