<!DOCTYPE html>
<html lang="en">

<head>{% load static %}  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon.png' %}">
    <title>Growels</title>
    <!-- Bootstrap Core CSS -->
    <link href="{%static 'temp/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'temp/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <link href="{%static 'temp/plugins/bower_components/summernote/dist/summernote.css' %}" rel="stylesheet" />
    <!-- Menu CSS -->
    <link href="{%static 'temp/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{%static 'temp/css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{%static 'temp/css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{%static 'temp/css/colors/blue.css' %}" id="theme" rel="stylesheet">
    <link href="{%static 'temp/plugins/bower_components/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


<![endif]-->

   

    
</head>
 
<body>

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6Ley2ZsUAAAAAJbsQ43Rc2TswQ-pmq_sfciMHW0_"></div>

    <button type="submit" class="btn btn-primary">Post</button>
  </form>
{% endblock %}



</section>  
    <!-- jQuery -->
    <script src="{% static 'temp/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'temp/bootstrap/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'temp/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'temp/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'temp/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'temp/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'temp/js/waves.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'temp/js/custom.min.js' %}"></script>
    <!--Style Switcher -->
    <script src="{% static 'temp/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
    <script src="{%static 'temp/plugins/bower_components/summernote/dist/summernote.min.js' %}"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'temp/plugins/bower_components/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript">
 $(document).ready(function(){
  $("#file").click(function(){
    $("#youtube_url").hide();
  });
  $("#file").click(function(){
    $("#image_file").show();
  });
});
$(document).ready(function(){
  $("#url").click(function(){
    $("#image_file").hide();
  });
  $("#url").click(function(){
    $("#youtube_url").show();
  });
});

</script>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable();

});

</script>
    <!--Style Switcher -->
    <script src="{%static 'temp/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>


</body>

</html>
