
</section>{% load static %}  
    <!-- jQuery -->
    <script src="{% static 'temp/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'temp/bootstrap/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'temp/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'temp/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'temp/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'temp/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'temp/js/waves.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'temp/js/custom.min.js' %}"></script>
    <!--Style Switcher -->
    <script src="{% static 'temp/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
    <script src="{%static 'temp/plugins/bower_components/summernote/dist/summernote.min.js' %}"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'temp/plugins/bower_components/datatables/jquery.dataTables.min.js' %}"></script>

<script type="text/javascript">
 $(document).ready(function(){
  $("#file").click(function(){
    $("#youtube_url").hide();
  });
  $("#file").click(function(){
    $("#image_file").show();
  });
});
$(document).ready(function(){
  $("#url").click(function(){
    $("#image_file").hide();
  });
  $("#url").click(function(){
    $("#youtube_url").show();
  });
});

</script>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable();

});
</script>
    <!--Style Switcher -->
    <script src="{%static 'temp/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
</body>

</html>
