 <footer class="footer text-center"> 2019 &copy; Aysha Admin brought to you by themedesigner.in </footer>
       
    <!-- /#wrapper -->
    <!-- jQuery -->
    {%load static %}
    <script src="{%static 'temp/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'temp/bootstrap/dist/js/tether.min.js' %}"></script>
    <script src="{%static 'temp/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{%static  'temp/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{%static 'temp/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{%static 'temp/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{%static 'temp/js/waves.js'%}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{%static 'temp/js/custom.min.js' %}"></script>
    <script src="{%static 'temp/plugins/bower_components/summernote/dist/summernote.min.js' %}"></script>
    <script src="{% static 'temp/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>

    <script src="{% static 'temp/plugins/bower_components/datatables/jquery.dataTables.min.js' %}"></script>
    
    <script>
    jQuery(document).ready(function() {
        $('.summernote').summernote({
            height: 350, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: false // set focus to editable area after initializing summernote
        });
        $('.inline-editor').summernote({
            airMode: true
        });
    });
    window.edit = function() {
        $(".click2edit").summernote()
    }, window.save = function() {
        $(".click2edit").summernote('destroy');
    }
    </script>
    <!--Style Switcher -->
    <script>
  $(document).ready(function() {
    $('#myTable').DataTable();

});
</script>
    <script src="{%static 'temp/plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>


</body>
</html>
