   <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
                        <!-- /input-group -->
                    </li>
                    
                    
                    <li> <a href="{% url 'growelsapp-dashboardpage' %}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu" > Dashboard <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'growelsapp-dashboardpage' %}">Dashboard</a> </li>
                        </ul>
                    </li>
                    <li> <a href="#" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu" > Enquiry <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'growelsapp-enquiry' %}">Enquiry</a> </li>
                        </ul>
                    </li>
                    
                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Get touch with us <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'temp-gettouchwithuslist' %}">Blog Touch</a> </li>
                            
                        </ul>
                    </li>

                    <li> <a href="#" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu" > Blog <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'growelsapp-bloglist' %}">Blog</a> </li>
                            <li> <a href="{% url 'growelsapp-tagslist' %}">Tags</a> </li>
                            <li> <a href="{% url 'growelsapp-blogcategorieslist' %}">Category</a> </li>

                        </ul>
                    </li>

                    <li> <a href="#" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu" > News <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'growelsapp-newsandeventslist' %}">News and Events</a> </li>
                        </ul>
                    </li>

            </div>
        </div>
