{% include 'growel-feeds/header.html' %}
{% include "growel-feeds/menu-bar.html" %}
{% load static %} 
<div class="about-banner">
    <img class="banner-img" src="{%static 'images/aqua-lab-header-banner.jpg' %}" alt="">
<!--
    <div class="banner-cont">
        <h1>Aqua Labs</h1>
    </div>
-->
</div>
<div class="innovation product-bg pro-quality grad-back">
    <div class="container">
        <div class="technology mt-4">
            <div class="tech-inner">
                <h5>Aqua Labs</h5>
            </div>
            <div class="content">
                <li>Growel has laboratories at six locations in India (Singarayapalem, Amalapuram, Kaikaluru, Srikakulam, Surat and Balasore) and more laboratories are planned to be open.</li>
                <li>The labs are equipped with modern diagnostic tools to help the farmers assess their water quality parameters and shrimp health (through microbiology and PCR testing).</li>
                <li>The test reports are promptly sent to the farmers though mobile text messages and emails.</li>
                <li>The messages are also copied to the local Growel technical and marketing staff so that they are alerted to reach out to the farmers and provide them with the required technical support.</li>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al1.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al11.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al3.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al4.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al5.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al6.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al7.jpg'%}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al8.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al9.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al10.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al2.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al12.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al13.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al14.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/al15.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="content">
                <h5>We achieve quality through</h5>
                <ul>
                    <li>
                        State of Art Technology
                    </li>
                    <li>High Quality of Raw Materials.</li>
                    <li>Compliance with all statutory and regulatory requirements.</li>
                    <li>Continual improvement by providing resources to achieve our quality objectives through audits and management review meetings.</li>
                </ul>
            </div>
-->
        </div>
    </div>
</div>




{% include 'growel-feeds/footer.html' %}
