{% include 'growel-feeds/header.html' %}
{% include "growel-feeds/menu-bar.html" %}
{% load static %} 
<div class="about-banner">
    <img class="banner-img" src="{%static 'images/contact-banner.jpg' %}" alt="">
    <!--
	<div class="banner-cont">
		<h1>Contact Us</h1>
	</div>
-->
</div>

<div class="cont-enq grad-back">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!--
				<form action="">
					<div class="form-group">
						<input type="text" class="form-control" id="user_name" name="user_name" placeholder="Name" data-msg="Please Write Your Name">
					</div>
					<div class="col">
						<label class="col-12 p-0" for="">Name</label>
						<input class="col-12 p-1" type="text" placeholder="">
					</div>
					<div class="col">
						<label class="col-12 p-0 mt-3" for="">Email</label>
						<input class="col-12 p-1" type="text" placeholder="">
					</div>
					<div class="col">
						<label class="col-12 p-0 mt-3" for="">Mobile No</label>
						<input class="col-12 p-1" type="text" placeholder="">
					</div>
					<div class="col">
						<label class="col-12 p-0 mt-3" for="">Message</label>
						<textarea class="col-12 p-1" name="" id="" cols="10" rows="4"></textarea>
					</div>
				</form>
-->
                <!--				<h2 class="contact-title">Say hello to us</h2>-->
                <div class="feeds-outer">
                    <h1 class="feeds">Contact Us</h1>
                </div>
                <form method="POST" action="">{% csrf_token %}  
                
                    <div class="form-group">
                        <input type="text" class="form-control" id="user_name" required="" name="user_name" placeholder="Name" data-msg="Please Write Your Name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="user_email" required="" name="user_email" placeholder="Email" data-msg="Please Write Your Valid Email">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="email_subject" required="" name="subject" placeholder="Subject" data-msg="Please Write Your Message Subject">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="5" name="email_message" required="" id="email_message" placeholder="Message" data-msg="Please Write Your Message"></textarea>
                    </div>

                    {{ form.as_p }}
               
                    <div class="g-recaptcha" data-sitekey="6Ley2ZsUAAAAAJbsQ43Rc2TswQ-pmq_sfciMHW0_"></div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-custom">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <!--				<h2 class="contact-title">Contact Us</h2>-->

                <!--
			<div class="feeds-outer">
				<h1 class="feeds dealer-event"> Visit Us </h1>
				</div>
-->
                <div class="phone">
                    <h3>Phone</h3>
                    <p><a href="tel:+919989453322">+91 - 9989453322</a> <br><a href="tel:+919989463322"> +91 9989463322</a><br><a href="tel:+918677283435">+91-8677-283435</a><a href="tel:+918677283761"> / 761</a><a href="tel:+918677283781"> / 781</a><a href="tel:+918677283791"> / 791</a></p>
                </div>
                <div class="mail">
                    <h3>Email</h3>
                    <p><a href="mailto:customercare@growelfeeds.com">customercare@growelfeeds.com</a></p>
                </div>
                <div class="web">
                    <h3>Website</h3>
                    <p>www.growelgroup.com</p>
                </div>
                <div class="address-cont">
                    <h3>Address</h3>
                    <p>GROWEL FEEDS PVT. LTD.<br>R.S. No. 57, Chevuru Village,<br>Sriharipuram Panchayat,<br>Mudinepalli Mandal,<br>Krishna District – 521329,<br>Andhra Pradesh, India.</p>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="mapw1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.028914650086!2d81.15611651536346!3d16.42335783421115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a361f6e6a8eda67%3A0xce0cc48290d6e496!2sGrowel+Feeds+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1542289068700" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </div>

        <div class="col-md-6">
            <div id="map_wrapper">
                <div id="map_canvas" class="mapping"></div>
            </div>
        </div>
    </div>
</div>
 <script src='https://www.google.com/recaptcha/api.js'></script>
{% include 'growel-feeds/footer.html' %}
