{% include 'growel-feeds/header.html' %}

<div class="tl-banner">
  {% include "growel-feeds/menu-bar.html" %}
    {% load static %} 
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bann-back" src="{%static 'images/banner1.jpg' %}" alt="" title="">
<!--                <img class="bann-back1" src="images/banner-1.jpg" alt="banner-back" title="banner-back">-->
                
                <div class="carousel-caption banner-firt">
                    <div class="row">
                        <div class="col bounceInRight p-0" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p>Serving as a reliable partner for <br><span>sustainable aquaculture</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="bann-back" src="{%static 'images/banner2.jpg' %}" alt="" title="">
                
                <div class="carousel-caption1">
                    <div class="row">
                        <div class="col bounceInLeft" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p class="text-white">A leading <span>International <br>aqua feed</span> producer</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="bann-back" src="{%static 'images/banner3.jpg' %}" alt="" title="">
                
                <div class="carousel-caption2">
                    <div class="row">
                        <div class="col bounceInRight" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p>A quality conscious and customer <br><span>driven organization</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="bann-back" src="{%static 'images/banner4.jpg' %}" alt="" title="">
                
                <div class="carousel-caption4">
                    <div class="row">
                        <div class="col bounceInLeft" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p>Critically acclaimed in <br><span>aqua feed industry</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="bann-back" src="{%static 'images/banner5.jpg' %}" alt="" title="">
                
                <div class="carousel-caption3">
                    <div class="row">
                        <div class="col bounceInRight" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p>Scientifically formulated and <br>completely <span>balanced nutrition</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="bann-back" src="{%static 'images/banner6.jpg' %}" alt="" title="">
                
                <div class="carousel-caption3">
                    <div class="row">
                        <div class="col bounceInLeft" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p><span>Highest quality and safe aqua</span> <br>feed products with full traceability</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="bann-back" src="{%static 'images/banner7.jpg' %}" alt="" title="">
                
                <div class="carousel-caption1">
                    <div class="row">
                        <div class="col bounceInRight" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p class="text-white">Talented workforce backed <br>up by <span>reputed scientists</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="bann-back" src="{%static 'images/banner8.jpg' %}" alt="" title="">
                
                <div class="carousel-caption2">
                    <div class="row">
                        <div class="col bounceInLeft" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p class="text-white">Ultra-modern feed mills with <br><span>extrusion technology</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img class="bann-back" src="{%static 'images/banner9.jpg' %}" alt="" title="">
                
                <div class="carousel-caption1 p-0">
                    <div class="row">
                        <div class="col bounceInRight" style="animation-duration:5s;">
                            <div class="banner-text text-right">
                                <p>Promoting eco-friendly and safe <br><span>industrial practices</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
</div>

<div class="manufac-qualitys">
    <div class="row">
        <div class="container">
            <!--
        <div class="col-md p-0 non-down">
            <div class="tec-ind">
                <img src="images/abt2.png" alt="">
            </div>
        </div>
-->
            <div class="col-md m-auto p-0">
                <div class="title1 text-center pt-2">
                    <img class="prn-btm" src="{%static 'images/prawn-bottom.png' %}" alt="">
                    <h2>Growel Story</h2>
                    <img class="brdr" src="{%static 'images/border.png' %}" alt="">
                </div>
                <div class="pt-4 pl-4 pr-4">
                    <p>Aquaculture supplies half of the seafood and fishery products consumed worldwide today and is gaining global significance as a source of healthy food and income. With the growing world population, the future demand for seafood can only be met by expanded and sustainable aquaculture production. Aquaculture practices are going to become more intensive and will depend increasingly on nutritious and effective feeds comprising superior quality ingredients. <br></p>
                    <a href="growel-story">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="manufac-quality">
    <div class="row">
        <div class="col-md p-0 non-down">
            <div class="tec-ind">
                <img src="{%static 'images/fact.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md m-auto p-0">
            <div class="title1 text-center pt-2">
                <img class="prn-btm1" src="{%static 'images/prawn-bottom.png' %}" alt="">
                <h2>Technology</h2>
                <img class="brdr" src="{%static 'images/border.png' %}" alt="">
            </div>
            <div class="pt-4 pl-4 pr-4">
                <p>At Growel, sound practices are followed to ensure high product quality. This keeps fetching top notch results. Growel Feeds uses a state-of-the-art fully automated process that is completely controlled by a computer based system.
                    Growel’s uncompromising nature and application of advanced technology have led to reliable product quality, resulting in a large pool of happy customers.</p>
                <a href="technology">Read More</a>
            </div>
        </div>
        <div class="col-md p-0 non-up">
            <div class="tec-ind">
                <img src="{%static 'images/fact.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="product-service">
    <div class="title text-center pt-2">
        <img class="prn-btm1" src="{%static 'images/enq-border.png' %}" alt="">
        <h2> Our Products </h2>
        <img class="brdr" src="{%static 'images/border.png' %}" alt="">
    </div>
    <div class="container90">
        <div class="row">
            <div class="col text-center">
                <div class="fst-feed">
                    <div class="border-fst-feed">
                        <div class="lft-tp"></div>
                        <div class="tp-lft"></div>
                        <div class="rt-tp"></div>
                        <div class="tp-rt"></div>
                        <div class="lft-btm"></div>
                        <div class="btm-lft"></div>
                        <div class="rt-btm"></div>
                        <div class="btm-rt"></div>
                        <img class="icon-feed" src="{%static 'images/prawn.png' %}" alt="">
                        <img class="img-feed" src="{%static 'images/prawn-h.png' %}" alt="">
                        <h4>Shrimp Feed</h4>
                        <p>for<br><i>L. vannamei and P. monodon</i></p>
                        <a href="feeds">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="fst-feed">
                    <div class="border-fst-feed">
                        <div class="lft-tp"></div>
                        <div class="tp-lft"></div>
                        <div class="rt-tp"></div>
                        <div class="tp-rt"></div>
                        <div class="lft-btm"></div>
                        <div class="btm-lft"></div>
                        <div class="rt-btm"></div>
                        <div class="btm-rt"></div>
                        <img class="icon-feed" src="{%static 'images/fish.png' %}" alt="">
                        <img class="img-feed" src="{%static 'images/fish-h.png' %}" alt="">
                        <h4> Fish Feed</h4>
                        <p>for<br><i>freshwater and marine fish</i></p>
                        <a href="feeds">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="fst-feed">
                    <div class="border-fst-feed">
                        <div class="lft-tp"></div>
                        <div class="tp-lft"></div>
                        <div class="rt-tp"></div>
                        <div class="tp-rt"></div>
                        <div class="lft-btm"></div>
                        <div class="btm-lft"></div>
                        <div class="rt-btm"></div>
                        <div class="btm-rt"></div>
                        <img class="icon-feed" src="{%static 'images/ornamental.png' %}" alt="">
                        <img class="img-feed" src="{%static 'images/orna-h.png' %}" alt="">
                        <h4>Ornamental Fish Feed</h4>
                        <p>for<br><i>Aquarium fish</i></p>
                        <a href="feeds">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="manufac-quality">
    <div class="row">
        <div class="col-md m-auto p-0">
            <div class="title1 text-center pt-2">
                <img class="prn-btm1" src="{%static 'images/prawn-bottom.png' %}" alt="">
                <h2>Quality</h2>
                <img class="brdr" src="{%static 'images/border.png' %}" alt="">
            </div>
            <div class="pt-4 pl-4 pr-4">
                <p>Growel Feeds consistently strives to achieve customer satisfaction through effective implementation of the Quality Management System in the manufacture and supply of quality aqua feed.</p>
                <p>The Quality Control Wing performs extensive investigations to measure and improve the quality of our products. It makes sure that no compromise is made with quality during the production process.</p>
                <a class="" href="quality">Read More</a>
            </div>
        </div>
        <div class="col-md p-0">
            <div class="tec-ind">
                <img src="{%static 'images/tech.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="manufac-quality">
    <div class="row">
        <div class="col-md p-0">
            <div class="tec-ind">
                <img src="{%static 'images/rd-tech.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md m-auto p-0">
            <div class="title1 text-center pt-2">
                <img class="prn-btm" src="{%static 'images/prawn-bottom.png' %}" alt="">
                <h2>R & D</h2>
                <img class="brdr" src="{%static 'images/border.png' %}" alt="">
            </div>
            <div class="pt-4 pl-4 pr-4">
                <p>Growel has an in-house R&D innovation centre where it continuously tests the performance of its feed products. Before launching a new feed product, it is thoroughly tested on live animals in the R&D Bio-assay.</p>
                   <p>This R&D facility also has cages and ponds to perform trials in the actual rearing environment. A dedicated R&D team work conducts several trials under the supervision of highly qualified nutritionists. Growel innovates new products time to time by identifying the emerging customer needs.</p>
                <a class="" href="r&d">Read More</a>
            </div>
        </div>

    </div>
</div>

<!--
<div class="req-back">
    <div class="cust-container">
        <div class="title text-center pt-2">
            <img class="prn-btm" src="images/enq-border.png" alt="">
            <h2>Request a call back</h2>
            <img class="brdr" src="images/border.png" alt="">
            <p>Request a callback to speak to one of our Data Quality and Migration experts today</p>
            <form action="">
                <div class="row">
                    <div class="col col-md-10">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md max-width530">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-12 col-sm-6 col-md max-width530">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-12 col-sm-6 col-md max-width530">
                                <input type="text" placeholder="Phone No">
                            </div>
                            <div class="col-12 col-sm-6 col-md sub-inpt1 max-width530">
                                <input type="submit" value="submit">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 p-0 sub-inpt">
                        <input class="" type="submit" value="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
-->
<div class="ind-art">
    <div class="title1 text-center pt-2 pb-4">
        <img class="prn-btm" src="{%static 'images/prawn-bottom.png' %}" alt="">
        <h2>News and Events</h2>
        <img class="brdr" src="{%static 'images/border.png' %}" alt="">
    </div>
    <div class="container90 mb-2">
        <div class="row">
              {%for news in news %}
            <div class="col-6 col-md-4 p-1">
              
            
                <img src="{{ MEDIA_URL }}{{ news.image_file }}" alt="" width="300" height="300" />
                 
            </div>
            {%endfor%}
           
        </div>
        <a class="" href="media">Read More</a>
    </div>
</div>
<div class="clearfix"></div>

<a id="btm-scl" class="btm-move" title="Back to top" href="#">&#10148;</a>

{% include 'growel-feeds/footer.html' %}