 <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Growel Feeds</title>
	<link rel="icon" href="{%static 'images/favicon.png' %}">
	<link rel="stylesheet" href="{%static 'css/fontello/css/fontello.css' %}">

	<link rel="stylesheet" href="{%static 'css/style.css' %}">
	<link rel="stylesheet" href="{%static 'css/query.css' %}">
	<link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{%static 'css/animate.css' %}">
	<link rel="stylesheet" href="{%static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{%static 'css/magic.min.css' %}">
</head>
	<style>
        body{
        }
    </style>

    <body>
        <div class="landing-page">
                <div class="row">
                    <div class="landing-back">
                        <a>Growel<br>Feeds</a>
                    </div><div class="landing-back">
                        <a>Growel<br>Group</a>
                    </div><div class="landing-back">
                        <a>Growel<br>Formulation</a>
                    </div>
                </div>
        </div>
    </body>

</html>
