<div class="tl-nav-bar" data-spy="affix" data-offset-top="197">
    <div class="cust-container">
        <div class="nav-butn">{%load static %}
            <nav class="navbar navbar-expand-md p-0">
                <a class="navbar-brand" href="index"><img src="{%static 'images/logo.png' %}" alt="">
                <span>Growels feeds Pvt.Ltd</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse nav-min-menu animated magictime fadeInRight" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item {% if request.resolver_match.url_name == 'growel-feeds-index' %}active{% endif %}">
                            <a class="nav-link nav-fst-menu" href="{%url 'growel-feeds-index' %}">Home</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'growel-feeds-growel-story' %}active{% endif %}">
                            <a class="nav-link nav-fst-menu" href="{%url  'growel-feeds-growel-story' %}">Growel Story</a>
                        </li>
         
                        <li class="nav-item {% if request.resolver_match.url_name == 'growel-feeds-technology' %}active{% endif %}">
                            <a class="nav-link nav-fst-menu" href="{%url 'growel-feeds-technology' %}">Technology</a>
                        </li>
<!--
                        <li class="nav-item <?php if($page=='product') echo 'active'; ?>">
                            <a class="nav-link nav-fst-menu" href="product.php">Products</a>                           
                        </li>
-->
                        <li class="nav-item dropdown {% if request.resolver_match.url_name == 'growel-feeds-product' %}active{% endif %}">
                            <a class="nav-link dropdown-toggle nav-fst-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products & Services
                            <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu  magictime animated fadeInDown" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-submenu"><a class="dropdown-item" href="{%url 'growel-feeds-feeds' %}">FEEDS</a>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="{%url 'growel-feeds-aqua-lab' %}">AQUA LABS</a>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="{%url 'growel-feeds-processor' %}">GROWEL PROCESSORS</a>
                                </li>
                            </ul>
                        </li>                        
                        
                        <li class="nav-item {% if request.resolver_match.url_name == 'growel-feeds-quality' %}active{% endif %}">
                            <a class="nav-link nav-fst-menu" href="{%url 'growel-feeds-quality' %}">Quality</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.url_name == 'growel-feeds-r&d' %}active{% endif %}">
                            <a class="nav-link nav-fst-menu" href="{%url 'growel-feeds-r&d' %}">R &amp; D</a>
                        </li>
                       
                            <li class="nav-item dropdown {% if request.resolver_match.url_name == 'growel-feeds-media' %}active{% endif %}">
                            <a class="nav-link dropdown-toggle nav-fst-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media
                            <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu  magictime animated fadeInDown" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-submenu"><a class="dropdown-item" href="{%url 'growel-feeds-media' %}">NEWS & EVENTS</a>
                                </li>                                
                                <li class="dropdown-submenu"><a class="dropdown-item" href="{%url 'growel-feeds-blog' %}">BLOG</a>
                                </li>
                            </ul>
                        </li> 
                        
<!--
                        <li class="nav-item <?php if($page=='processor') echo 'active'; ?>">
                            <a class="nav-link nav-fst-menu" href="processor.php">Processor</a>
                        </li>
                        <li class="nav-item <?php if($page=='al') echo 'active'; ?>">
                            <a class="nav-link nav-fst-menu" href="aqua-lab.php">Aqua Lab</a>
                        </li>
                        <li class="nav-item <?php if($page=='blog') echo 'active'; ?>">
                            <a class="nav-link nav-fst-menu" href="#">Blog</a>
                        </li>
-->
                        <li class="nav-item {% if request.resolver_match.url_name == 'growel-feeds-contact' %}active{% endif %}">
                            <a class="nav-link nav-fst-menu" href="{%url 'growel-feeds-contact' %}">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>






