{% include 'growel-feeds/header.html' %}
<div class="about-banner">
{% include "growel-feeds/menu-bar.html" %}
{% load static %} 
  
    <img class="banner-img" src="{%static 'images/processors-header-banner.jpg' %}" alt="">
<!--
    <div class="banner-cont">
        <h1>Growel Processors</h1>
    </div>
-->
</div>
<div class="innovation product-bg pro-quality">
    <div class="container">
        <div class="technology mt-4">
            <div class="tech-inner">
                <h5>Growel Processors Pvt. Ltd</h5>
            </div>
            <div class="content">
                <P>Growel has a state-of-the-art processing plant adhering to European Union &amp; FDA
                    standards. The plant is under maximum automation to enhance productivity and to
                    maintain consistent quality. It can produce Individually Quick Frozen (IQF) and Block
                    Frozen products following eco-friendly practices. The equipment and machinery are
                    imported from Iceland, Denmark, Singapore &amp; Japan. This modern processing facility
                    covers an area of 7900 m<sup>2</sup> , with cold storage capacity of 2400 MT and highest emphasis
                    on sanitation and hygiene. The entire walls and ceiling in the production area and cold
                    storage are insulated with rigid fire resistant German made polyurethane sandwich
                    panels. This enables to maintain a temperature of -20<sup>o</sup> C consistently. For quality control
                    and assurance there are full-fledged laboratories with modern equipment. Antibiotic,
                    microbiological and organoleptic tests are carried out on regular basis by experts.</P>
            </div>
			<div class="content mt-4 mb-4">
				<h5>Technology &amp; Production Capacity</h5>
				<ul>
					<li>Block Freezing Capacity: 60 MT/day</li>
					<li>IQF - Spiral Freezer (Marel) : 40 MT/day</li>
					<li>Cold storage capacity: 2400 MT</li>
					<li>Water storage capacity: 4,50,000 Lts with RO treatment</li>
					<li>Chill room capacity: 100 MT</li>
					<li>Tube Ice Plant: 120 MT/day (for farm harvest purpose)</li>
					<li>Flake Ice Plant: 110 MT/day (for processing line)</li>
					<li>Antibiotic &amp; Microbial Tests are conducted as per US-FDA &amp; EU protocols.</li>
					<li>HACCP, BRC, FSSC 22000 &amp; BAP certified</li>
				</ul>
			</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc9.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc8.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc1.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc2.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc3.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc4.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc5.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc6.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-wrap">
                        <div class="services-icon">
                            <img src="{%static 'images/proc7.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="content">
                <h5>We achieve quality through</h5>
                <ul>
                    <li>
                        State of Art Technology
                    </li>
                    <li>High Quality of Raw Materials.</li>
                    <li>Compliance with all statutory and regulatory requirements.</li>
                    <li>Continual improvement by providing resources to achieve our quality objectives through audits and management review meetings.</li>
                </ul>
            </div>
-->
        </div>
    </div>
</div>




{% include 'growel-feeds/footer.html' %}
