{% include 'growel-feeds/header.html' %}

{% include "growel-feeds/menu-bar.html" %}
{% load static %}
<div class="about-banner">
	<img  class="banner-img" src="{%static 'images/quality-header-banner.jpg' %}" alt="">
<!--
	<div class="banner-cont">
		<h1>Quality</h1>
	</div>
-->
</div>


<div class="innovation pro-quality product-bg grad-back">
	<div class="container">
		<div class="technology">
			<div class="tech-inner">
				<h5>Quality</h5>
			</div>
			<div class="content">
				<p>Growel Feeds consistently strives to achieve customer satisfaction through effective
				    implementation of the Quality Management System in the manufacture and supply of
                    quality aqua feed.</p>
				    <p>The Quality Control Wing performs extensive investigations to measure and improve the
				    quality of our products. It makes sure that no compromise is made with quality during
				    the production process. The quality is achieved through:</p>
				<ul>
					<li>State of the art technology</li>
					<li>High quality of raw materials</li>
					<li>Compliance with all statutory and regulatory requirements</li>
					<li>Continual improvement by providing resources to achieve the quality objectives</li>
					<li>through audits and management review meetings</li>
					
				</ul>
			</div>
			<div class="content mt-4">
				<h5>Salient Features of Growel Aqua Feed</h5>
				<ul>
					<li>Balanced feed formula to take care of essential nutrients for highest growth rate under varied stocking densities</li>
					<li>Use of high quality feedstuffs from domestic and internationally reputed manufacturers with full traceability</li>
					<li>Effective utilization of marine proteins</li>
					<li>Process technology ensures high digestibility, low microbial load, controlled</li>
					<li>nutrient leaching for prolonged feed attractiveness and hence low FCR</li>
					<li>Highly water stable and fast sinking pellets for providing adequate  palatability/nutrition during prolonged feeding hours</li>
					<li>Free from antibiotics, pesticides, pathogens, etc.</li>
					<li>Provides immune enhancement / high pathogen challenge capability through highly stable vitamins, nucleotides and other micro nutrients</li>
					<li>Well protected from oxidation and microbial attack</li>
					<li>Full traceability</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua1.jpg' %}">
						</div>
					</div>
				</div>
<!--
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="images/qua2.jpg">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="images/qua3.jpg">
						</div>
					</div>
				</div>
-->
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua4.jpg' %}">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua5.jpg' %}">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua6.jpg' %}">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua7.jpg' %}">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua8.jpg' %}">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua9.jpg' %}">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua10.jpg' %}">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-wrap">
						<div class="services-icon">
							<img src="{%static 'images/qua11.jpg' %}">
						</div>
					</div>
				</div>
				
<!--
                        <div class="services-desc">
							<h3 class="services-title services-title2">
								<a href="#">General Quality</a>
							</h3>
						</div>
-->
			</div>
		</div>
	</div>
</div>




{% include 'growel-feeds/footer.html' %}

