body {
    margin: 0;
    padding: 0;
    font-family: "f1";
    overflow-x: hidden;
    font-size: 14px;
}

@font-face {
    font-family: "f1";
    src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: "f2";
    src: url(../fonts/Josefin_Sans/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: "f21";
    src: url(../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: "f3";
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "f4";
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}

::focus {
    outline: none !important;
}

:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

p {
    font-size: 14px;
}

li {
    list-style: none !important;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    padding: 0;
}

.cust-container {
    width: 95%;
    margin: auto;
    display: block;
}

.container90 {
    width: 90%;
    margin: auto;
    display: block;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.tl-nav-bar {
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    /*    background: url(../images/menu-back.png) no-repeat;*/
    background-size: 100% 100%;
    z-index: 11;
    background-color: #00274D;
}

.tl-nav-bar .navbar-brand img {
    width: 215px;
}

.tl-nav-bar .navbar-nav {
    width: 100%;
    display: initial;
    text-align: right;
}

.tl-nav-bar ul .nav-item {
    padding: 0 5px;
    display: inline-block;
}


.tl-nav-bar ul .nav-item .nav-fst-menu {
    font-family: "f3";
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

.tl-nav-bar ul li .nav-fst-menu::before {
    content: "";
    position: absolute;
    right: -15px;
    top: 13px;
    background: url(../images/menu-border.png) no-repeat;
    width: 10px;
    height: 10px;
}

.tl-nav-bar ul li .nav-fst-menu:hover {
    background: url(../images/border.png) no-repeat;
    background-position: bottom center;
    background-size: 70px;
    color: #b2bb1d;
}

.tl-nav-bar ul .active .nav-fst-menu {
    position: relative;
}

.tl-nav-bar ul .active .nav-fst-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 8px;
    background: url(../images/border.png) no-repeat;
    background-size: 70px;
    background-position: center;
}

.tl-nav-bar .nav-min-menu {
    z-index: 11;
}

.tl-nav-bar .dropdown-toggle::after {
    display: none;
}

.tl-banner {
    position: relative;
}

.tl-banner .bann-back {
    width: 100%;
}
.tl-banner .bann-back1 {
    display: none;
}

.tl-banner .anim-delay {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.tl-banner .anim-delay .infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.tl-banner .carousel-caption {
    right: 0%;
    left: auto;
    bottom: 60px;
    text-align: left !important;
}

.tl-banner .carousel-caption1 {
    position: absolute;
    left: 25px;
    top: 10px;
    text-align: left !important;
}

.tl-banner .carousel-caption2 {
    position: absolute;
    right: 0;
    bottom: 80px;
    text-align: left !important;
}

.tl-banner .carousel-caption3 {
    position: absolute;
    right: 0;
    top: 15px;
    text-align: left !important;
}

.tl-banner .carousel-caption4 {
    position: absolute;
    left: 15px;
    bottom: 0px;
    text-align: left !important;
}

.tl-banner .banner-text p {
    margin-bottom: 0;
    font-family: "f1";
    font-size: 25px;
    text-align: left;
    font-family: "f4";
    color: #00274d;
    font-style: italic;
    text-transform: uppercase;
}
.tl-banner .banner-text a {
    cursor: pointer;
}

.tl-banner .banner-text a img {
    transition: 0.2s all linear;
}

.tl-banner .banner-text a:hover img {
    opacity: 0.6;
    transition: 0.2s all linear;
    transform: scale(1.05, 1.05);
}

.tl-banner .carousel-control-prev-icon,
.tl-banner .carousel-control-next-icon {
    background: none !important;
    height: auto;
}

.tl-banner .carousel-control-prev-icon i,
.tl-banner .carousel-control-next-icon i {
    color: #b5bd23;
}

.tl-banner .carousel-control-prev {
    right: 70px;
    left: auto;
}

.tl-banner .carousel-control-next {
    right: 25px;
}

.tl-banner .carousel-control-next,
.tl-banner .carousel-control-prev {
    position: absolute;
    top: auto;
    background: rgba(0, 46, 91, 0.50);
    border: 1px solid rgba(244, 255, 36, 0.43);
    padding: 15px 7px;
    bottom: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    height: 27px;
    color: #fff;
    text-align: center;
    opacity: 1;
    z-index: 1;
}

.tl-banner .carousel-control-next:hover,
.tl-banner .carousel-control-prev:hover {
    background: rgb(181, 189, 35);
}

.tl-banner .carousel-control-next:hover i,
.tl-banner .carousel-control-prev:hover i {
    color: #002e5b;
}

.title {
    position: relative;
}

.title .prn-btm {
    position: absolute;
    top: -22px;
    left: 46%;
}

.title h2 {
    font-family: "f2";
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
}

.title .brdr {
    width: 100px;
}

.title1 {
    position: relative;
    margin-top: 15px;
}

.title1 .prn-btm {
    position: absolute;
    top: -22px;
    left: 41.5%;
}

.title1 .prn-btm1 {
    position: absolute;
    top: -22px;
    left: 37%;
}

.title1 h2 {
    font-family: "f2";
    color: #002e5b;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
}

.title1 .brdr {
    width: 100px;
}

.product-service {
    background: url(../images/product.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0 20px;
    margin-top: 2px;
}

.product-service .fst-feed {
    background: #fff;
    padding: 10px;
    width: 87%;
    margin: 20px auto;
}

.product-service .fst-feed .border-fst-feed {
    padding: 0 5px;
    border: 1px solid #c5c5c5;
    position: relative;
}

.product-service .fst-feed .border-fst-feed .lft-tp {
    position: absolute;
    top: 0px;
    left: -3px;
    width: 5px;
    height: 0px;
    background: #002e5b;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed .tp-lft {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 0px;
    height: 5px;
    background: #002e5b;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed .rt-tp {
    position: absolute;
    top: 0px;
    right: -3px;
    width: 5px;
    height: 0px;
    background: #002e5b;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed .tp-rt {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 0px;
    height: 5px;
    background: #002e5b;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed .lft-btm {
    position: absolute;
    bottom: 0px;
    left: -3px;
    width: 5px;
    height: 0px;
    background: #002e5b;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed .btm-lft {
    position: absolute;
    bottom: -3px;
    left: -3px;
    width: 0px;
    height: 5px;
    background: #002e5b;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed .rt-btm {
    position: absolute;
    bottom: 0px;
    right: -3px;
    width: 5px;
    height: 0px;
    background: #002e5b;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed .btm-rt {
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 0px;
    height: 5px;
    background: #002e5b;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed:hover .lft-tp {
    height: 60px;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed:hover .tp-lft {
    width: 60px;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed:hover .rt-tp {
    height: 60px;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed:hover .tp-rt {
    width: 60px;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed:hover .lft-btm {
    height: 60px;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed:hover .btm-lft {
    width: 60px;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed:hover .rt-btm {
    height: 60px;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed:hover .btm-rt {
    width: 60px;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed h4 {
    font-family: "f21";
    color: #002e5b;
    margin-bottom: 10px;
}

.product-service .fst-feed .border-fst-feed p {
    color: #000;
    font-family: "f1";
}

.product-service .fst-feed .border-fst-feed a {
    display: inline-block;
    background: #b5bd23;
    border-radius: 3px;
    color: #002e5b;
    font-size: 18px;
    font-family: "f21";
    padding: 7px 22px;
    margin: 10px 0 25px;
    position: relative;
}

.product-service .fst-feed .border-fst-feed a:before {
    content: "";
    background: #002e5b;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed a:hover {
    color: #fff;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed a:hover:before {
    width: 100%;
    transition: 0.2s all linear;
}

.product-service .fst-feed .border-fst-feed img {
    width: 220px;
    margin: 5px auto;
}

.product-service .fst-feed .border-fst-feed .img-feed {
    display: none;
}

.product-service .fst-feed:hover .icon-feed {
    display: none;
}

.product-service .fst-feed:hover .img-feed {
    display: block;
}

.manufac-quality .tec-ind img {
    width: 100%;
}

.manufac-quality p {
    color: #000;
    text-align: justify;
    font-family: "f1";
}

.manufac-qualitys p {
    color: #000;
    text-align: justify;
    font-family: "f1";

}

.manufac-qualitys {
    margin-top: 20px;
}

.manufac-qualitys a {
    display: inherit;
    width: 140px;
    text-align: center;
    background: #b5bd23;
    border-radius: 3px;
    color: #002e5b;
    font-size: 18px;
    font-family: "f1";
    padding: 7px 22px;
    margin: 10px auto 25px;
    position: relative;
    transition: 0.2s all linear;
}

.manufac-qualitys a:before {
    content: "";
    background: #002e5b;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s all linear;
}

.manufac-qualitys a:hover {
    color: #fff;
    transition: 0.2s all linear;
}

.manufac-qualitys a:hover:before {
    width: 100%;
    transition: 0.2s all linear;
}

.manufac-quality a {
    display: inline-block;
    float: right;
    background: #b5bd23;
    border-radius: 3px;
    color: #002e5b;
    font-size: 18px;
    font-family: "f1";
    padding: 7px 22px;
    margin: 10px 0 25px;
    position: relative;
    transition: 0.2s all linear;
}

.manufac-quality a:before {
    content: "";
    background: #002e5b;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s all linear;
}

.manufac-quality a:hover {
    color: #fff;
    transition: 0.2s all linear;
}

.manufac-quality a:hover:before {
    width: 100%;
    transition: 0.2s all linear;
}

.req-back {
    background: url(../images/back-enq.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 50px 0;
}

.req-back .title p {
    color: #fff;
    margin-top: 10px;
}

.req-back form input {
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    border: 0px;
    width: 100%;
    color: #000;
}

.req-back .sub-inpt input {
    background: #b5bd23;
    border-radius: 5px;
    color: #002e5b;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "f2";
    padding: 10px;
    position: relative;
    transition: 0.2s all linear;
}

.req-back .sub-inpt input:hover {
    color: #fff;
    transition: 0.2s all linear;
}

.req-back .sub-inpt1 {
    display: none;
}

.req-back .sub-inpt1 input {
    background: #b5bd23;
    border-radius: 5px;
    color: #002e5b;
    padding: 10px;
}

.req-back form input::placeholder {
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

.ind-blog {
    margin-top: 30px;
}

.non-up {
    display: none;
}

.ind-blog .tl-ind-blog {
    position: relative;
}

.ind-blog .blog-left {
    position: relative;
}

.ind-blog .blog-left img {
    width: 100%;
    height: 100%;
}

.ind-blog .blog-left h4 {
    background: #b5bd23;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 15px 20px;
    color: #002e5b;
    font-family: "f21";
}

.ind-blog h3 {
    font-family: "f2";
    text-transform: uppercase;
    font-size: 19px;
    color: #b5bd23;
}

.ind-blog .blg-rit {
    background: #002e5b;
    font-family: "f1";
}

.ind-blog .blg-rit p {
    color: #fff;
    text-align: justify;
    font-size: 15px;
}

.ind-blog .blg-rit a {
    display: inline-block;
    background: #b5bd23;
    border-radius: 3px;
    color: #002e5b;
    font-size: 18px;
    font-family: "f1";
    padding: 7px 22px;
    margin: 10px 0 25px;
    position: relative;
}

.ind-blog .blg-rit a:before {
    content: "";
    background: #fff;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s all linear;
}

.ind-blog .blg-rit a:hover {
    color: #fff;
    transition: 0.2s all linear;
}

.ind-blog .blg-rit a:hover:before {
    width: 100%;
    transition: 0.2s all linear;
}

.ind-blog .blg-rit .blog-right {
    padding: 20px 20px 10px 60px;
}

.ind-blog .nex-blog {
    position: absolute;
    top: 0;
    left: 45%;
    z-index: 11;
}

.ind-blog .nex-blog ul {
    width: 100px;
    margin: auto !important;
    height: 100%;
    padding: 3px !important;
    background: #fff;
}

.ind-blog .nex-blog ul .nav-item {
    z-index: 11;
}

.ind-blog .nex-blog ul .nav-item .nav-link {
    padding: 0;
}

.ind-blog .nex-blog ul .nav-item .nav-link img {
    width: 100%;
    height: 90px;
}

.ind-blog .nex-blog ul .nav-link1 {
    background: #002e5b;
    color: #fff;
    font-family: "f1";
    padding: 17px 10px;
    text-align: center;
    display: inherit;
    transition: 0.2s all linear;
}

.ind-blog .nex-blog ul .nav-link1:hover {
    background: #b5bd23;
    color: #002e5b;
    transition: 0.2s all linear;
}

.tl-frt {
    border-top: 5px solid #002e5b;
    padding: 0px 0 0px !important;
    background: url(../images/ftr-back.jpg) no-repeat;
    background-size: cover;
}

.tl-frt h4 {
    font-family: "f2";
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
}

.tl-frt .ftr-box {
    margin-top: 35px;
}

.tl-frt .ftr-box .iso {
    width: 95px;
    margin: auto;
}

.tl-frt .ftr-box .social-ftr li {
    display: inline-block;
    margin: 10px 6px;
}

.tl-frt .ftr-box .ftr-logo {
    width: 70px;
}

.tl-frt .ftr-box p {
    color: #fff;
    text-align: justify;
    padding-top: 15px;
}

.tl-frt .ftr-box .social-ftr li a {
    color: #aba8a8;
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 28px;
    font-size: 18px;
    height: 27px;
    /*    background: #fff;*/
    border-radius: 50%;
}

.tl-frt .ftr-box .social-ftr .social-facebook a:hover {
    color: #fff;
    background: #395c98;
}

.tl-frt .ftr-box .social-ftr .social-linkedin a:hover {
    color: #fff;
    background: #007bb5;
}

.tl-frt .ftr-box .social-ftr .social-twitter a:hover {
    color: #fff;
    background: #00cfff;
}

.tl-frt .ftr-add {
    color: #fff;
    display: inline-flex;
}

.tl-frt .ftr-add i {
    margin-top: 0px;
}

.tl-frt .link-ftr {
    margin-top: 30px;
}

.tl-frt .link-ftr li {
    position: relative;
    padding: 5px 0;
}

.tl-frt .link-ftr li a {
    color: #fff;
    font-size: 14px;
}

.tl-frt .link-ftr li a:hover {
    color: #b2bb1d;
    padding-left: 5px;
}

.tl-frt .link-ftr img {
    margin-top: -5px;
    padding-right: 8px;
}

.tl-frt .ftr-map {
    padding: 3px 11px;
}

.tl-frt .cont-info .ftr-ph {
    padding: 3px 8px;
}

.tl-frt .cont-info .ftr-env {
    padding: 3px 8px;
}

.tl-frt .cont-info .ftr-add1 {
    padding-left: 30px;
    display: inline-flex;
}

.tl-frt .cont-info .ftr-add1 i {
    color: #002e5b;
    border: 1.5px dotted #002e5b;
    display: inherit;
    font-size: 14px;
    height: 24px;
    border-radius: 20px;
    margin-right: 11px;
}

.tl-frt .cont-info .ftr-add1 a {
    color: #fff;
    font-size: 14px;
}

/*
.tl-frt .cont-info .ftr-add1 a:hover {
    color: #b5bd23;
}
*/

.tl-frt .cont-info .ftr-add {
    display: inline-flex;
}

.tl-frt .cont-info .ftr-add i {
    color: #ffffff;
    display: inherit;
    font-size: 18px;
}

.tl-frt .cont-info .ftr-add a {
    color: #fff;
    font-size: 14px;
}

/*
.tl-frt .cont-info .ftr-add a:hover {
    color: #b5bd23;
}
*/

.tl-frt .ftr-inpt {
    width: 70%;
}

.tl-frt .ftr-sub {
    width: 30%;
    color: #000;
    background: #b5bd23;
}

.tl-frt input {
    background: rgba(229, 229, 229, 0.55);
    padding: 10px;
    width: 100%;
    padding: 10px;
    background: #fff;
    /*    margin: 5px 0;*/
    border: 0;
    font-size: 14px;
}

.tl-frt ::placeholder {
    color: #797979;
}

.tl-frt .ftr-sub-mit {
    background: #002e5b !important;
    padding: 7px 0;
    text-align: center;
    width: 85px;
    float: right;
    color: #fff;
}

.top-move {
    display: none;
    position: fixed;
    z-index: 111;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    background: #b5bd23;
    color: #002e5b;
    transform: rotateZ(270deg);
    padding: 3px 9px 6px 10px;
    border-radius: 4px;
}


.btm-move {
    display: block;
    position: fixed;
    z-index: 111;
    bottom: 20px;
    left: 50%;
    font-size: 26px;
    background: #b5bd23;
    color: #002e5b;
    transform: rotateZ(90deg);
    padding: 3px 9px 6px 10px;
    border-radius: 4px;
    /*    animation:1s mov-btm infinite;*/
}

/*
@-webkit-keyframes mov-btm {
  0%   { bottom: 30px; }
  100% { bottom: 0; }
    0%  { bottom: 30px; }
}
@-moz-keyframes mov-btm {
  0%   { bottom: 30px; }
  100% { bottom: 0; }
    0%  { bottom: 30px; }
}
@-o-keyframes mov-btm{
  0%   { bottom: 30px; }
  100% { bottom: 0; }
    0%  { bottom: 30px; }
}
*/
@keyframes mov-btm {
    0% {
        bottom: 40px;
    }

    50% {
        bottom: 20px;
    }

    100% {
        bottom: 00px;
    }

    50% {
        bottom: 20px;
    }

    0% {
        bottom: 40px;
    }
}

.ftr-ftr .menu-ftr {
    border-top: 1px solid #4a4a49;
    margin-top: 20px;
}

.ftr-ftr .menu-ftr li {
    display: inline-block;
    padding: 10px;
}

.ftr-ftr .menu-ftr li a {
    color: #fff;
    font-size: 14.5px;
}

.ftr-ftr .menu-ftr li a:hover {
    color: #b2bb1d;
}

.ftr-ftr .com-ftr {
    border-top: 1px solid #4a4a49;
    margin-top: 2px;
    padding: 13px 0;
    color: #fff;
    font-size: 14px;
}

.ftr-ftr .com-ftr a {
    color: #b5bd23;
}

.ftr-ftr .com-ftr .ninos {
    text-align: right;
}

/*About Us*/
.timeline-table table {
    width: 100%;
    margin-bottom: 25px;
}

.timeline-table td,
th {
    border: 1px solid #c5c5c5;
    border-collapse: collapse;
    padding: 10px;
}

.about-banner {
    position: relative;
}

.about-banner img {
    width: 100%;
}

.about-banner .banner-cont {
    font-family: "f2";
    font-size: 35px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}

.about-banner .banner-cont h1 {
    margin: 11% auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.about-banners .banner-cont {
    font-family: "f2";
    font-size: 35px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*    background: rgba(0, 0, 0, 0.15);*/
}

.about-banners .banner-cont h1 {
    margin: 11% auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.bann-abt {
    margin: 25px 0 0;
}

.bann-abt .left-img-abt {
    margin: auto 0;
    padding: 0;
}

.bann-abt .left-img-abt img {
    width: 580px;
    margin: auto;
    display: block;
}

.bann-abt .rt-abt-pag {
    margin: auto;
}

.bann-abt .rt-abt-pag h3 {
    font-family: "f2";
    font-size: 23px;
    margin-bottom: -7px;
    color: #002e5b;
}

.bann-abt .rt-abt-pag p,
.abt-p-img-btm {
    text-align: justify;
    font-size: 15px;
    color: rgba(74, 70, 70, 0.8);
    line-height: 24px;
    font-family: "f1";
}

.visin {
    background: #002e5b;
    padding: 20px 0;
}

.visin p {
    text-align: justify;
    color: #d4cdcd;
    font-size: 14px;
    font-family: "f1";
}

.visin ul {
    padding: 0;
    margin-bottom: 25px !important;
}

.visin ul li {
    text-align: justify;
    margin-bottom: 5px;
    display: inline-flex;
    color: #d4cdcd;
    font-size: 14px;
    font-family: "f1";
    position: relative;
}

.our-management {
    margin-bottom: 20px;
}

.float-chat-abt img {
    width: 991px;
    margin: 0px auto 30px;
    display: block;
}

/*About Us*/
/*Management*/
.list-manage-ment {
    border: 1px solid #c5c5c5;
    padding: 10px;
    margin: 10px 0;
}

.team-abt h3 {
    margin: 0;
    font-size: 17px;
    padding: 0;
    color: #002e5b;
}

.team-abt p {
    margin: 0;
    padding: 5px 0 0;
    text-align: justify;
}

.normal-text {
    text-align: center;
    padding-top: 10px;
}

/*Management*/
/*contact Us*/
.sub-page-banner h1 {
    font-family: "f2";
    font-size: 42px;
    background: url(../images/border-back.png) no-repeat;
    background-size: 100% 100%;
    text-transform: uppercase;
    width: 350px;
    margin: 0px auto 20px;
    padding: 20px 0;
    display: block;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.cont-enq {
    font-family: "f1";
    padding: 70px 0 50px 0;
}

.cont-enq label {
    margin-bottom: 0px;
    color: #002e5b;
}

.cont-enq input {
    border: 0px;
    border-bottom: 1px solid #e1dddd;
    line-height: 42px;
    height: 42px;
    margin-bottom: 24px;
    /*    padding-left: 2px;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s 0.2s ease-out;
    -moz-transition: 0.3s 0.2s ease-out;
    -o-transition: 0.3s 0.2s ease-out;
    transition: 0.3s 0.2s ease-out;
}

.cont-enq input:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e1dddd;
}

.cont-enq textarea {
    border: 0px;
    border-bottom: 1px solid #e1dddd;
    /*    padding-left: 2px;*/
    margin-bottom: 24px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s 0.2s ease-out;
    -moz-transition: 0.3s 0.2s ease-out;
    -o-transition: 0.3s 0.2s ease-out;
    transition: 0.3s 0.2s ease-out;
}

.cont-enq textarea:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
}

.cont-enq h2.contact-title {
    font-size: 24px;
    border-bottom: 3px solid #eeeeee;
    color: #5c5c5c;
    padding-bottom: 15px;
    position: relative;
}

.cont-enq h2.contact-title:after {
    bottom: -3px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 32px;
    background: #b2bb1c;
}

.cont-enq button {
    background: #b2bb1c;
    padding: 16px 56px;
}

.cont-enq a {
    color: rgba(74, 70, 70, 0.8);
}

.cont-enq p {
    color: rgba(74, 70, 70, 0.8);
}

.cont-enq h3 {
    font-size: 19px;
}

.cont-enq .phone {
    padding-left: 46px;
    margin-top: 21px;
    position: relative;
}

.cont-enq .phone:before {
    left: 11px;
    top: -6px;
    width: 31px;
    height: 29px;
    position: absolute;
    content: "";
    background: url(../images/phone.png) no-repeat;
}

.cont-enq .mail {
    padding-left: 46px;
    margin-top: 21px;
    position: relative;
}

.cont-enq .mail:before {
    left: 11px;
    top: -6px;
    width: 31px;
    height: 29px;
    position: absolute;
    content: "";
    background: url(../images/mail.png) no-repeat;
}

.cont-enq .web {
    padding-left: 46px;
    margin-top: 21px;
    position: relative;
}

.cont-enq .web:before {
    left: 11px;
    top: -6px;
    width: 31px;
    height: 29px;
    position: absolute;
    content: "";
    background: url(../images/web.png) no-repeat;
}

.cont-enq .address-cont {
    padding-left: 46px;
    margin-top: 21px;
    position: relative;
}

.cont-enq .address-cont:before {
    left: 11px;
    top: -6px;
    width: 31px;
    height: 29px;
    position: absolute;
    content: "";
    background: url(../images/place.png) no-repeat;
}

.cont-enq .feeds-outer {
    position: relative;
}

.rt-abt-pag h2 {
    color: #002e5b;
    font-size: 21px;
    font-family: "f2";
}

.cont-enq .feeds-outer h1.feeds {
    font-size: 22px;
    background: #b2bb1c;
    display: inline-block;
    padding: 12px;
    position: relative;
    width: 206px;
    text-align: center;
    margin-bottom: 40px;
}

/*contact Us*/
/*product*/
.product-body .container .vertical-tab {
    box-shadow: 0px 11px 34px #002e5b;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    margin: 20px !important;
    padding: 20px !important;
}

.product-body .container .vertical-tab .header {
    text-align: center;
    margin-bottom: 43px;
}

.product-body .container .vertical-tab .header h5 {
    display: inline-block;
    font-size: 26px;
    padding-top: 10px;
    font-weight: bold;
    position: relative;
}

.product-body .container .vertical-tab .header h5:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50%;
    width: 27px;
    height: 8px;
    background: url(../images/active.png) no-repeat;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
}

.product-body .container li {
    width: 100%;
}

.product-body .container a:hover,
.product-body .container a:focus {
    text-decoration: none;
    outline: none;
}

.product-body .container .vertical-tab .nav-tabs {
    width: 100%;
    min-width: 28%;
    border: none;
    position: relative;
    margin: 0 auto !important;
    display: block;
}

.product-body .container .vertical-tab .nav-tabs li {
    float: none;
    vertical-align: top;
    margin-right: 0;
}

.product-body .container .vertical-tab .nav-tabs li a {
    display: block;
    padding: 10px 20px;
    margin: 10px 10px 20px 0;
    background: #d4d1d196;
    font-size: 17px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    transition: all 0.3s ease 0s;
}

.product-body .container .vertical-tab .nav-tabs li:last-child a {
    margin-bottom: 10px;
}

.product-body .container .vertical-tab .nav-tabs li.active a {
    background: #002e5b;
    border: none;
    color: #fff;
}

.product-body .container .vertical-tab .nav-tabs li.active {
    margin-top: 20px;
}

.product-body .container .vertical-tab .nav-tabs li a.green {
    background: #b4bd26;
    border: none;
    color: #fff;
}

.product-body .container .vertical-tab .nav-tabs li a:before,
.product-body .container .vertical-tab .nav-tabs li a:after {
    content: "";
    width: 20%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.product-body .container .vertical-tab .nav-tabs li a:after {
    top: auto;
    left: auto;
    bottom: -5px;
    right: 0;
}

.product-body .container .vertical-tab .nav-tabs li.active a:before,
.product-body .container .vertical-tab .nav-tabs li.active a:after {
    width: 100%;
    background: #fff;
}

.product-body .container .vertical-tab .nav-tabs li a.green:after {
    width: 100%;
    background: #b4bd26;
}

.product-body .container .vertical-tab .tab-content h3 {
    font-size: 24px;
    color: #fff;
    margin: 0 0 5px 0;
}

.product-body .container .tab-content {
    position: relative;
    padding: 45px 20px;
}

.product-body .container .tab-content .image {
    margin: auto;
    position: relative;
    width: 58%;
    margin: auto !important;
    border: 1px solid #d6d7d8;
    padding: 30px;
}

.product-body .container .tab-content .image img {
    margin: auto;
    display: block;
    width: 58%;
}

.product-body .container .tab-content .content p {
    padding: 20px;
    font-size: 15px;
    color: #333333b0;
    text-align: justify;
}

/*product*/
/*
.innovation {
    background-position: left top, right bottom;
    background-image: url(../images/bgd__innovation--left.png), url(../images/shrimp-feeds2.png);
    background-position: left top, right -17px bottom;
    background-repeat: no-repeat, no-repeat;
    padding: 115px 0 233px;
}
*/

.innovation .cus-container .inner-container {
    margin-top: 25px !important;
}

.innovation .cus-container .inner-container .product-image {
    width: 100%;
    margin: auto !important;
    border: 1px solid #d6d7d8;
    padding: 30px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    transition: all 0.3s linear;
    transform: scale(1);
    box-shadow: 0 0 125px #002e5bab inset;
    -moz-box-shadow: 0 0 125px #e6baad inset;
}

.innovation .cus-container .inner-container .product-image:hover {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    transform: scale(1.1);
}

.innovation .cus-container .inner-container .product-image img {
    margin: 0px auto;
    display: block;
}

.innovation .cus-container .inner-container .product-image:hover {
    background-image: url(../images/circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    box-shadow: none;
}

.innovation .cus-container .inner-container .content-left {
    margin: auto;
}

.innovation .cus-container .inner-container .content-left .content p {
    font-size: 15px;
    color: #000;
    line-height: 30px;
    text-align: justify;
    font-family: "f1";
}

.innovation .cus-container .inner-container .content-left .content ul li {
    font-size: 15px;
    color: rgba(74, 70, 70, 0.8);
    line-height: 30px;
    position: relative;
    padding-left: 36px;
    text-align: justify;
}

.innovation .cus-container .inner-container .content-left .content ul li:before {
    background-size: 10px 10px !important;
    left: 12px;
    width: 24px;
    height: 24px;
    position: absolute;
    content: "";
    background: url(../images/icon.jpg) no-repeat;
    top: 9px;
}

.innovation .cus-container .inner-container .content-left .content h5 {
    font-size: 25px;
    color: #002e5b;
    display: inline-block;
    position: relative;
    font-family: "f1";
}

.innovation .cus-container .inner-container .content-left .content h5:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 83px;
    height: 8px;
    background: url(../images/active.png) no-repeat;
    background-size: 100% 100%;
}

/*product*/
/*technology*/
.technology .tech-inner {
    text-align: center;
}

.technology .tech-inner h5 {
    font-size: 28px;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    color: #002e5b;
    font-family: "f2";
}

.technology .tech-inner h5:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50%;
    width: 70px;
    height: 8px;
    background: url(../images/active.png) no-repeat;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
}

.jR3DCarouselGallery,
.jR3DCarouselGalleryCustomeTemplate {
    margin: 0 auto;
    /* optional - if want to center align */
}

.jR3DCarouselGallery {
    margin-bottom: 30px;
}

.jR3DCarouselGalleryCustomeTemplate .captions {
    position: relative;
    padding: 4px 0;
    bottom: 27px;
    background: #ec1c8e;
    display: block;
}

.jR3DCarouselGalleryCustomeTemplate a {
    text-decoration: none;
}

.tech-bottom ul li {
    font-size: 15px;
    color: rgba(74, 70, 70, 0.8);
    line-height: 22px;
    padding: 5px 0px 0px 30px;
    position: relative;
    text-align: justify;
    padding-bottom: 18px;
    font-family: "f1";
}

.tech-bottom ul li:before {
    background-size: 10px 10px !important;
    left: 11px;
    width: 24px;
    height: 24px;
    position: absolute;
    content: "";
    background: url(../images/icon.png) no-repeat;
    top: 9px;
}

/*tab*/
.tab-cus p {
    color: #333;
    line-height: 1.5;
}

.tab-cus a:active,
.tab-cus a:focus {
    outline: expression(hideFocus='true');
}

.tab-cus p {
    margin-bottom: 9px;
}

.tab-cus #tabs li,
.tab-cus #tabs2 li,
.tab-cus #tabs3 li,
.tab-cus #tabs4 li,
.tab-cus #tabs5 li {
    float: none;
    margin-right: 2px;
    font-family: "f2";
}

.tab-cus .top-tab .nav-item {
    background: #002e5b;
}

.tab-cus #tabs li a,
.tab-cus #tabs2 li a,
.tab-cus #tabs3 li a,
.tab-cus #tabs4 li a,
.tab-cus #tabs5 li a {
    display: block;
    padding: 18px 16px 11px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: "f2";
}

.tab-cus #tabs li a.active,
.tab-cus #tabs2 li a.active,
.tab-cus #tabs3 li a.active,
.tab-cus #tabs4 li a.active,
.tab-cus #tabs5 li a.active {
    background: #b2bb1c;
    border-radius: 0;
}

.tab-cus #tabs li a:hover,
.tab-cus #tabs2 li a:hover,
.tab-cus #tabs3 li a:hover,
.tab-cus #tabs4 li a:hover,
.tab-cus #tabs5 li a:hover {
    background: #b2bb1c;
    border-radius: 0;
}

.tab-cus #tabs_container {
    padding: 40px;
    overflow: hidden;
    position: relative;
    background: white;
    width: 100%;
}

.tab-cus .transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.tab-cus .make_transist {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.tab-cus .hidescale {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
}

.tab-cus .showscale {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.tab-cus .hideleft {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.tab-cus .showleft {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.tab-cus .hidescaleup {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.tab-cus .showscaleup {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.tab-cus .hideflip {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: rotatey(-90deg) scale(1.1);
    -moz-transform: rotatey(-90deg) scale(1.1);
    -o-transform: rotatey(-90deg) scale(1.1);
    -ms-transform: rotatey(-90deg) scale(1.1);
    transform: rotatey(-90deg) scale(1.1);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.tab-cus .showflip {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    -o-transform: rotatey(0deg) scale(1);
    -ms-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.tab-cus .tabulous_active {
    background: white !important;
    color: #655c89 !important;
}

.tab-cus .tabulousclear {
    display: block;
    clear: both;
}

.tab-cus .top-tab {
    text-align: center;
}

.tab-cus .top-tab ul {
    display: inline-flex;
    padding: 0px 30px;
    border-bottom: none;
}

.product-feed {
    position: relative;
}

.product-feed .feeds-outer {
    position: relative;
    margin-top: 83px;
}

.product-feed .feeds-outer h1.feeds {
    font-size: 22px;
    background: #b2bb1c;
    display: inline-block;
    padding: 12px;
    margin-left: 15px;
    position: relative;
    width: 206px;
    text-align: center;
    font-family: "f2";
}

.product-feed .feeds-outer h1.feeds:before {
    content: "";
    width: 20%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: all 0.3s ease 0s;
}

.product-feed .feeds-outer:before {
    content: "";
    /* width: 100%; */
    height: 3px;
    background: #b2bb1c;
    position: absolute;
    top: 53px;
    right: 0;
    transition: all 0.3s ease 0s;
    left: 183px;
}

.product-feed .soon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: rgba(0, 0, 0, 0.2);
    margin-top: 80px;
}

/*quality*/
.pro-quality {
    background-color: #f0f0f0 !important;
}

.pro-quality .technology .content p {
    font-size: 15px;
    color: rgba(74, 70, 70, 0.8);
    line-height: 23px;
    text-align: justify;
    font-family: "f1";
}

.pro-quality .technology .content ul li {
    font-size: 15px;
    color: rgba(74, 70, 70, 0.8);
    line-height: 23px;
    position: relative;
    padding-left: 36px;
    text-align: justify;
    font-family: "f1";
}

.pro-quality .technology .content ul li:before {
    background-size: 10px 10px !important;
    left: 12px;
    width: 24px;
    height: 24px;
    position: absolute;
    content: "";
    background: url(../images/icon.png) no-repeat;
    top: 9px;
}

.pro-quality .technology .content h5 {
    font-size: 24px;
    color: #002e5b;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    font-family: "f2";
}

.pro-quality .technology .content h5:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0%;
    width: 70px;
    height: 8px;
    background: url(../images/active.png) no-repeat;
    background-size: 100% 100%;
}

.pro-quality .technology .services-wrap {
    overflow: hidden;
}

.pro-quality .technology .services-wrap .services-icon {
    overflow: hidden;
    margin: 15px 0;
}

.pro-quality .technology .services-wrap .services-icon img {
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    width: 100%;
}

.pro-quality .technology .services-wrap .services-desc {
    border-color: transparent !important;
    background: #fff;
    padding: 30px 30px;
    position: relative;
    top: -30px;
    margin: 0 20px;
}

.pro-quality .technology .services-wrap .services-desc .services-title {
    margin-bottom: 10px;
    font-size: 20px !important;
    line-height: 20px !important;
    text-align: center;
}

.pro-quality .technology .services-wrap .services-desc .services-title a {
    color: #b5bd23;
    font-family: "f1";
}

.pro-quality .technology .services-wrap:hover .services-icon img {
    -webkit-transform: rotate(15deg) scale(1.2);
    transform: rotate(5deg) scale(1.2);
}

.media-inner {
    text-align: center;
}

.media-inner h5 {
    font-size: 28px;
    display: inline-block;
    position: relative;
    font-family: "f2";
    /* margin-bottom: 73px; */
    color: #002e5b;
}

.media-inner h5:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50%;
    width: 70px;
    height: 8px;
    background: url(../images/active.png) no-repeat;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
}

.media-inner p {
    font-size: 18px;
    color: rgba(74, 70, 70, 0.8);
    line-height: 30px;
    margin-bottom: 73px;
    font-family: "f1";
}

.img-fst {
    width: 100%;
    height: 200px;
}

.team-item {
    cursor: pointer;
}

.team-item .team-inner-wrap {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.team-item .team-inner-wrap .team-img {
    position: relative;
}

.team-item .team-inner-wrap .team-img img {
    width: 100%;
    border-radius: 50%;
}

.team-item .team-inner-wrap .team-img .normal-text {
    height: 52px;
    font-size: 13px;
    position: absolute;
    bottom: 0px;
    color: #333;
    font-family: "f1";
    left: 32px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #022242 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #022242 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #022242 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    left: 0px;
    right: 0px;
    padding: 20px 4px;
    line-height: 14px;
}

.team-item .team-inner-wrap .team-img .normal-text p a {
    color: #fff;
}

.team-item .team-inner-wrap .team-content {
    top: 0;
    transform: scaleX(0);
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 11;
    padding: 30px;
    opacity: 0;
    -webkit-transition: .4s all ease-out;
    transition: .4s all ease-out;
}

.team-item .team-inner-wrap .team-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(8, 8, 8, 0.7) !important;
    z-index: -1;
    -webkit-transition: .25s opacity ease;
    transition: .25s opacity ease;
}

.team-item .team-inner-wrap .team-content .overly-border {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 1000;
}

.team-item .team-inner-wrap .team-content .overly-border:before {
    border-top: 3px solid #b2bb1c;
    border-bottom: 3px solid #b2bb1c;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
    opacity: 1;
    z-index: 1;
}

.team-item .team-inner-wrap .team-content .overly-border:after {
    border-right: 3px solid #b2bb1c;
    border-left: 3px solid #b2bb1c;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
    opacity: 1;
    z-index: 1;
}

.team-item .team-inner-wrap .team-content .display-table {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-left: 14%;
    padding-right: 13%;
    z-index: 10000;
}

.team-item .team-inner-wrap .team-content .display-table .display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.team-item .team-inner-wrap .team-content .display-table .display-table-cell p a {
    color: #cfd1dc;
    font-size: 15px;
    font-family: "f1";
}

.team-item:hover .normal-text {
    opacity: 0;
    visibility: hidden;
}

.team-item:hover .team-content {
    opacity: 1;
    top: 0;
    transform: scaleX(1);
}

.team-item:hover .overly-border:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.team-item:hover .overly-border:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.section-intro button {
    background: #b5bd23;
    padding: 7px 22px !important;
    margin-top: 30px !important;
    float: right;
}

.section-intro button a {
    color: #333;
    padding: 10px;
    font-size: 17px;
}

.section-intro article,
.section-intro aside,
.section-intro details,
.section-intro figcaption,
.section-intro figure,
.section-intro footer,
.section-intro header,
.section-intro hgroup,
.section-intro menu,
.section-intro nav,
.section-intro section {
    display: block;
}

.section-intro body {
    line-height: 1;
}

.section-intro ol,
.section-intro ul {
    list-style: none;
}

.section-intro blockquote,
.section-intro q {
    quotes: none;
}

.section-intro blockquote:before,
.section-intro blockquote:after {
    content: '';
    content: none;
}

.section-intro q:before,
.section-intro q:after {
    content: '';
    content: none;
}

.section-intro table {
    border-collapse: collapse;
    border-spacing: 0;
}

.section-intro input,
.section-intro button {
    padding: 0;
    margin: 0;
    border: none;
}

.section-intro input:focus,
.section-intro button:focus {
    outline: none;
}

.section-intro body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.section-intro .back-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-intro .container {
    margin: auto;
}

.section-intro .rect-outer {
    position: relative;
}

.section-intro .rect-outer .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section-intro .container {
    max-width: 800px;
    margin: auto;
}

.section-intro .photo-slider-wrap {
    position: relative;
}

.section-intro .slider-arrow {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    z-index: 3;
    transition: .5s;
    cursor: pointer;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
}

.section-intro .section-intro .slider-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

.section-intro .section-intro .slider-arrow.slide-next {
    right: 20px;
}

.section-intro .section-intro .slider-arrow.slide-prev {
    left: 20px;
}

.section-intro .photo-slider {
    width: 100%;
    height: 500px;
    position: relative;
}

.section-intro .photo-slider .caption {
    font-size: 30px;
    color: white;
    transition: .5s;
    font-weight: 700;
    text-transform: uppercase;
}

.section-intro .photo-slider > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 20px;
}

.section-intro .photo-slider > div.active {
    z-index: 3;
    opacity: 1;
}

.section-intro .photo-slider > div.prev .caption {
    opacity: 0;
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.section-intro .photo-slider > div.next {
    z-index: 2;
    opacity: 1;
}

.section-intro .photo-slider > div.next .caption {
    opacity: 0;
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.section-intro .photo-slider-thumb {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.section-intro .photo-slider-thumb .caption {
    color: white;
    transition: .5s;
}

.section-intro .photo-slider-thumb > div {
    width: 25%;
    height: 150px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.section-intro .photo-slider-thumb > div:hover > div:before {
    opacity: 1;
}

.section-intro .photo-slider-thumb > div > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 10px;
}

.section-intro .photo-slider-thumb > div > div.prev .caption {
    opacity: 0;
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.section-intro .photo-slider-thumb > div > div.next {
    z-index: 2;
    opacity: 1;
}

.section-intro .section-intro .photo-slider-thumb > div > div.next .caption {
    opacity: 0;
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.section-intro .photo-slider-thumb > div > div:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: .5s;
}

.section-intro .photo-slider-thumb > div > div.next {
    z-index: 1;
}

/*# sourceMappingURL=style.css.map */


.product-bg {
    padding: 10px 0;
}

.down-broch {
    background: #002959;
    color: #fff;
    display: inline-flex;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 0px 0 0 #000;
}

.down-broch:hover {
    box-shadow: 0 6px 11px 0px #002959;
    color: #fff;
}

.grad-back {

    background-image: linear-gradient(#fff, rgba(181, 189, 35, 0.4));
}

.tech-bg-fish {

    background-image: linear-gradient(#fff, rgba(181, 189, 35, 0.4));
    /*    background-image: url(../images/growel-story-bg.png);*/
    background-position: left top, right -17px bottom;
    background-repeat: no-repeat, no-repeat;
    padding: 50px 0 50px;
    background-size: cover;
}

/*landing-page*/
.landing-page {
    position: fixed;
    background: url(../images/landing.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    height: 100%;
}

.landing-back {
    background: url(../images/landing-back.png) no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    display: inline-block;
    margin: 18% auto;
    width: 360px;
}

.landing-back a {
    font-family: "f2";
    text-align: center;
    width: 170px;
    height: 170px;
    font-size: 23px;
    color: #002959;
    border: 5px solid #909708;
    padding-top: 48px;
    border-radius: 90%;
    box-shadow: inset 0 0 15px 5px #696868;
    display: inline-block;
    transition: 0.2s all linear;
}

.landing-back a:hover {
    background: #fff;
    transition: 0.2s all linear;
}

/*landing-page*/
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.dropdown-item {
    background-color: #00274d !important;
    color: #fff !important;
    padding: 7px 20px !important;
}

.dropdown-menu {
    margin-top: 15px !important;
}

.growel-story-bg {
    background-image: linear-gradient(#fff, rgba(181, 189, 35, 0.4));
    /*    background-image: url(../images/growel-story-bg.png);*/
    background-position: left top, right -17px bottom;
    background-repeat: no-repeat, no-repeat;
    padding: 50px 0 50px;
    background-size: cover;
}

.form-btn {
    box-shadow: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    background: #b5bd23;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}

.form-control {
    background: #303030;
    border: none;
}

.form-control {
    height: 50px;
    border-radius: 5px;
    font-size: 13px;
    background: none;
    border-color: #eceff8;
    box-shadow: none;
}

/*** footer ***/

footer {
    background: #01182f;
    border-top: 5px solid #002e5b;
    padding: 0px 0 0px !important;
    /*    background: url(../images/ftr-back.jpg) no-repeat;*/
    background-size: cover;
    color: #bab6b6;
    position: relative;
    /*  margin-top: 83px;*/
    font-family: "f1";
}

footer .social-icon {
    padding: 0 10px;
    height: 46px;
    background: #b5bd23;
    position: absolute;
    top: -20px;
    left: 41px;
    /* margin: auto; */
    text-align: center;
}

footer .social-icon:after {
    content: "";
    position: absolute;
    left: -15px;
    top: -1px;
    z-index: -1;
    border-bottom: 26px solid #33322fb0;
    border-left: 16px solid transparent;
    border-right: 10px solid transparent;
}

footer .social-icon p {
    display: inline;
    color: #fff;
    padding: 0px 12px;
    margin-top: 5px;
}

footer .social-icon a img {
    padding: 5px 0px 14px;
}

footer .footer-inner .footer {
    padding: 56px 0px 8px;
}

footer .footer-inner .footer h4 {
    color: #b5bd23;
    font-size: 13px;
    font-weight: bold;
    padding-left: 0;
    position: relative;
    margin-bottom: 0;
}

footer .footer-inner .footer img {
    width: 90px;
}

footer .footer-inner .footer p {
    font-size: 13px;
}

footer .footer-inner .footer .address p {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 5px;
    font-family: "f1";
}

footer .footer-inner .footer .address p:before {
    left: 3px;
    width: 31px;
    height: 29px;
    position: absolute;
    content: "";
    background: url(../images/loc.png) no-repeat;
}

footer .footer-inner .footer .Phone p {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 13px;
}

footer .footer-inner .footer .Phone p a {
    color: #bab6b6;
}

footer .footer-inner .footer .Phone p:before {
    left: 3px;
    width: 31px;
    height: 29px;
    position: absolute;
    content: "";
    background: url(../images/cal.png) no-repeat;
}

footer .footer-inner .footer .mail-us p {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 13px;
}

footer .footer-inner .footer .mail-us p a {
    color: #bab6b6;
}

footer .footer-inner .footer .mail-us p:before {
    left: 3px;
    width: 31px;
    height: 29px;
    position: absolute;
    content: "";
    background: url(../images/env.png) no-repeat;
}

footer .footer-inner .footer .follow-us iframe {
    margin: 10px 0;
    width: 100%;
}

footer .footer-inner .footer .follow-us p {
    color: #bab6b6;
    padding: 13px 0px;
    font-size: 14px;
}

footer .footer-inner .footer .follow-us p span a {
    color: #e75e00;
    padding-left: 9px;
}

footer .footer-inner .footer .follow-us p span a:hover {
    text-decoration: none;
}

footer .footer-inner .footer .footer-information p {
    margin: 0px;
    padding-left: 0px;
}

footer .footer-inner .footer .footer-information p a {
    line-height: 31px;
    padding-left: 20px;
    margin: 5px;
    position: relative;
    color: #bab6b6;
    font-size: 14px;
    text-decoration: none;
}

footer .footer-inner .footer .footer-information p a:hover {
    color: #b2bb1d;
    padding-right: 5px;
}

footer .footer-inner .footer .footer-information p a:before {
    background-size: 10px 10px !important;
    left: 2px;
    width: 24px;
    height: 24px;
    position: absolute;
    content: "";
    background: url(../images/bord.png) no-repeat;
    top: 3px;
}

footer .footer-inner .footer .know-us form {
    margin-top: 10px;
}

footer .footer-inner .footer .know-us form .form-group .form-control {
    background: transparent;
    border-radius: 0px;
}

footer .footer-inner .footer .know-us form .button-group {
    height: 94px;
}

footer .footer-inner .footer .know-us form .button-group button {
    /*  margin-top: 55px;*/
    color: #fff;
    background-color: #b5bd23;
    /*  border-color: #b54a04;*/
    border-radius: 0px;
    width: 120px;
    /*  border-bottom: 6px solid #fff;*/
    cursor: pointer;
}

.footer-down {
    border-bottom: 4px solid #fff;
    font-size: 12px;
    border-top: 1px solid rgba(204, 204, 204, 0.38);
    letter-spacing: 1px;
}

.footer-down .footer-left p {
    padding: 14px 0px !important;
    margin: 0px !important;
}

.footer-down .footer-right p {
    float: right;
    padding: 14px 0px !important;
    margin: 0px !important;
    color: rgba(255, 255, 255, 0.89);
}

.footer-down .footer-right p a span {
    color: #d89a3e;
}

.footer-down .footer-right p a span:hover {
    text-decoration: none;
}

footer .footer-inner .ftr-certificate img {
    width: 100px;
}

.nav-item .nav-link .fa {
    padding-left: 5px;
}
.soon{
    padding: 16% 0;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "f2";
    width: 100%;
    text-align: center;
    color: #c5c5c5;
}